body {
  margin: 0;
  border: 0;
  font-family: sans-serif;

}

nav ul {
  margin: 0;
}

nav li {
  list-style-type: none;
}

nav {
  display: flex;
  flex-direction: row;

}

header {
  height: 19vh;
  background-color: #0e1c11;
  color: #e6ffef;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  border-bottom-color: #1b3725;
  border-bottom-width: 1vh;
  border-bottom-style: solid;

}


article {
  height: 100vh;
}

a {
  color: #ffffff
}

.articulo img {
  border-radius: 25px;
  color: #cbffe6;
}

.articulo {
  border-bottom-color: #1b3725;
  border-bottom-width: 1vh;
  border-bottom-style: solid;
  background-color: #9cc1af;
}

#articulo-de-entrada {
  color: #e6ffef;
  background: transparent;


}

#webglInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#webglInfo>img {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 30vw;
  padding: 20px;
  height: 12.52vw;
}

.articulo {
  display: flex;
  flex-direction: row;
  height: 80vh;
  align-items: center;
  justify-content: center;

}



main h1 {
  margin: 0;
  padding: 0.5em 0;
}

#foto {
  margin: 1em;
  border-radius: 100%;
  border-width: 0.5em;
  border-color: #0e3b25;
  border-style: solid;
}

.texto {
  padding: 2em;
}

#react {
  color: #010e00;
  background-color: #cad792;
  height: 100vh;
}


#webgl {
  color: #010e00;
  height: 100vh;
}


#pantalla-negra {
  display: block;
  position: absolute;
  width: 100%;
  height: 80vh;
  background-color: rgba(1, 14, 0, 255);
  animation: 1s linear 0s 1 normal forwards paused fade;

}

#foto {
  z-index: 3;
}

#sobre-mi {
  z-index: 3;
}

#pantalla-negra {
  z-index: 2;
}

#animation {
  z-index: 1;
  display: block;
  position: absolute;
  width: 100%;
  height: 80vh;
}

.texto {
  display: flex;
  flex-direction: column;
}

#reactLogo {
  width: 15vw;
  transform: scale(1.8);
  aspect-ratio: auto;
  align-self: center;

}

@keyframes fade {
  from {
    background-color: rgba(1, 14, 0, 255);
  }

  to {
    background-color: rgba(1, 14, 0, 0);
  }
}

@media (max-aspect-ratio:1/1) {
  #titulo {
    font-size: 3vw;
    padding: 1em;
  }

  * {
    font-size: 2.5vw;
  }

  #logo-udo {
    width: 10vh;
    height: 10vh;
    padding: 1em;
  }

  .articulo {
    display: flex;
    flex-direction: column;
    height: 79vh;
    align-items: center;
    justify-content: center;

  }

  .articulo>img {
    margin: 30px;
    width: 70vw;
    aspect-ratio: auto;
    max-height: 46.55vw;
  }

  #sobre-mi h1 {
    text-align: center;
  }

  #sobre-mi {
    padding: 1em;
  }

  #foto {
    height: 12em;
    width: 12em;
  }

  .texto {
    padding: 1em 2em;
    max-width: 30em;
  }

  .texto>* {
    font-size: 2.5vw;

  }

}

@media (min-aspect-ratio:1/1) {

  #logo-udo {
    width: 10vh;
    height: 10vh;
    padding: 1em;
  }

  .articulo {
    display: flex;
    flex-direction: row;
    height: 80vh;
    align-items: center;
    justify-content: center;

  }

  .articulo>img {

    width: 45vw;
    aspect-ratio: auto;
  }

  #sobre-mi h1 {
    text-align: center;
  }

  #sobre-mi {
    padding: 1em;
  }

  #foto {
    height: 12em;
    width: 12em;
  }

  .texto {
    padding: 1em 2em;
    max-width: 40vw;
  }

  .texto>* {
    font-size: 1.5vw;

  }
}
